.m10{
    margin: 15px;
}

.p15{
    padding: 15px;
}

.itemWrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 10px;
}

.itemUpper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgContainer {
    display: inline-flex;
    align-items: center;
}

.title {
    font-size:x-large;
}

.icon {
    font-size:xx-large;
    width:4rem;
    height:2rem;
}

.border {
    border: solid lightgray 1.8px;
    border-radius: 20px;
}

img.border{
    border-radius: 50%;
    display: inline;
}









