.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.cardBorder{
  border:solid lightgray 1.8px;
  border-radius: 20px;
}

.dispInline{
  display: inline;
}


.padd{
  padding: 10px;
}

.marg{
  margin: 10px;
}

.circle{
  border-radius: 50%;
}


.down{
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  color: lightgray;
  transform: rotateZ(270deg)
}



.up{
  transition: 0.2s;
  transition-timing-function: ease-in-out;
  color: lightgray;
  transform: rotateZ(90deg)
}
